<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a4000essentialwordsbook1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SelectedBook.SelectedBookActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>


        <activity
            android:name=".SelectedUnitTab.ActivitySelectedTab"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity
            android:name=".SelectedUnitTab.WordList.DetailedWord.WordSlideCardViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".MarkedWords.MarkedWordActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".SelectedUnitTab.WordList.DetailedWord.WordSlideCardViewActivity"/>
        <activity
            android:name=".MarkedWords.ReviewWords.MainReviewMarkedWordActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MarkedWords.MarkedWordActivity"/>
        <activity
            android:name=".QuizFile.QuizMainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".QuizFile.QuizRezult.QuizMainResultActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <activity android:name=".NavigationClasses.MainNavigationActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <activity android:name=".SearchWordsClasses.SearchWordsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <activity android:name=".Settings.SettingsPreferencesActivity"
            android:theme="@style/Theme.4000EssentialWordsBook1"/>

    </application>

</manifest>